QScrollArea {
    border: 0;
}

QTableWidget QPushButton {
    background-color: transparent;
    border-radius: 0;
    height: 100%;
}

.monospace {
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}
